<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="header" class="navbar navbar-expand-lg" style="background-color: #ffb6c1;">
  <a class="navbar-brand text-dark" href="/">MOLLY TEA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link text-dark" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link text-dark" href="#">About</a></li>
      <li class="nav-item"><a class="nav-link text-dark" href="/login">Login</a></li>
    </ul>
  </div>
</nav>
</body>
</html>